<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <title>Minimal App</title>
    {% block customcss %}
    {% endblock customcss %}
  </head>
  <body>
    <a href="{% url 'home' %}" class="btn btn-info btn"  role="button">ホーム画面</a>
    <a href="{% url 'index' %}" class="btn btn-info btn"  role="button">トップ画面</a>
    <a href="{% url 'signup' %}" class="btn btn-info btn"  role="button">ユーザー登録</a>
    <a href="{% url 'list' %}" class="btn btn-info btn"  role="button">リスト画面</a>
    <a href="{% url 'create' %}" class="btn btn-info btn"  role="button">作成</a>
    <a href="{% url 'login' %}" class="btn btn-info btn"  role="button">ログイン</a>
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

  </body>
</html>