{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>詳細ページ</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
      <p>タイトル： {{ object.title }}</p>
      <p>投稿者： <a href="{% url 'user_posts' object.author.id %}">{{ object.author }}</a></p>

      <p>物の状況： {{ object.status }}</p>
      <p>購入理由： {{ object.buy_reason }}</p>

      {% if object.sell_reason %}
      <p>売却理由： {{ object.sell_reason }}</p>
      {% else %}
      <p>売却理由： </p>
      {% endif %}

      <p>購入金額： {{ object.buy_price }}円</p>

      {% if object.sell_price %}
      <p>売却金額： {{ object.sell_price }}円</p>
      {% else %}
      <p>売却金額： </p>
      {% endif %}

      <p>購入日： {{ object.buy_date }}</p>
      <p><img src="{{ object.obj_image.url }}" width=500></p>
    </div>
    {% if object.author == current_user %}
      <a href="{% url 'delete' object.pk %}">削除</a>
      <a href="{% url 'update' object.pk %}">編集</a>
    {% endif %}
</div>
{% endblock content %}