{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'index.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(https://free-paper-texture.com/p/p0526/p0526_l.jpg); background-size: cover;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">持ち物SNS</h1>
      <p class="lead fw-normal">自分が購入した物、手放すか悩んでいるもの、手放したものを共有しよう</p>
    </div>
  </div>
{% endblock header %}

{% block content %}
{% comment %} 1つ目の機能紹介 {% endcomment %}
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://minimal-shinya.s3-ap-northeast-1.amazonaws.com/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88+2021-05-10+1.42.21.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">1 : 購入した物を記録しよう</h1>
        <p class="col-lg-10 fs-4">購入したものを記録して、自分の持ち物を管理する。</p>
      </div>
    </div>
  </div>

{% comment %} 2つ目の機能紹介 {% endcomment %}
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://minimal-shinya.s3-ap-northeast-1.amazonaws.com/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88+2021-05-13+15.34.28.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">2 : 物に使った金額が一目でわかる</h1>
        <p class="col-lg-10 fs-4">自分が物に使った金額を見て、無駄な出費がないか見直す。</p>
      </div>
    </div>
  </div>

{% comment %} 3つ目の機能紹介 {% endcomment %}
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://free-paper-texture.com/p/p0526/p0526_l.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">3 : みんなの投稿をみて、手放す理由を参考に</h1>
        <p class="col-lg-10 fs-4">自分では必要だと思っていても、意外といらない物が見つかったり...</p>
      </div>
    </div>
  </div>

{% if request.user.is_authenticated == False %}
  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">ユーザー登録</h1>
        <p class="col-lg-10 fs-4">早速登録をして、買ったものを記録してみよう。</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
    {% csrf_token %}
    {% for item in form %}
      {% if item.label == "ユーザー名" or item.label == "パスワード" or item.label == "パスワード(確認用)" or item.label == "Eメールアドレス" %}
        <div class="form-group">
            <label for="{{item.id_for_label}}">{{item.label}}</label>
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
        </div>
      {% endif %}
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">ユーザー登録</button>
    <hr class="my-4">
          <small class="text-muted">既に用意してあるテストユーザーでログインすることもできます。</small>
          <a class="btn btn-outline-secondary" href="{% url 'guest_login' %}" onclick="login_func()">テストユーザーとしてログイン</a>
</form>
{% endif %}

      </div>
    </div>
  </div>

<script>
function login_func() {
  alert("テストユーザーでログインしました！\nテストユーザーの投稿ページへ移動します。");
}
</script>

 
{% endblock %}