{% extends 'base.html' %}

{% block header %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(https://free-paper-texture.com/p/p0526/p0526_l.jpg) ; background-size: cover;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">持ち物SNS</h1>
      <p class="lead fw-normal">自分が購入した物、手放すか悩んでいるもの、手放したものを共有しよう</p>
      {% if request.user.is_authenticated == False %}
      <a class="btn btn-outline-secondary" href="{% url 'guest_login' %}">テストユーザーとしてログイン</a>
      {% endif %}
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{% endblock header %}

{% block content %}
<div class="container py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">機能紹介</h2>
  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>購入したものを投稿</h2>
        <p>購入した物を記録&シェアして、隠れた名品を発掘しよう。</p>
        {% if request.user.is_authenticated == True %}
        <a href="{% url 'create' %}" class="btn btn-primary">
          投稿を作成
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>自分がものに使った総額を可視化</h2>
        <p>物に使った総額がわかるから、浪費の防止になり、本当に欲しいものだけを選べるように。</p>
        {% if request.user.is_authenticated == True %}
        <a href="{% url 'user_posts' request.user.id %}" class="btn btn-primary">
          自分が使った金額を見る
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
      </div>
      <div>
        <h2>手放した後もサポート</h2>
        <p>個人で物を売るのが当たり前の時代。物のリセールバリューを知れる。</p>
        {% if request.user.is_authenticated == True %}
        <a href="{% url 'list' %}" class="btn btn-primary">
          みんなの売却投稿を見る
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>



 
{% endblock %}