{% extends 'base.html' %}

{% block header %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">みんなの投稿</h1>
        <p class="lead text-muted">買ったもの、捨てたもの、悩んでいるものを全て記録してみよう！</p>
        <p>
        
          {% if 'satisfied' in request.path or 'planed' in request.path or 'threw' in request.path %}
          <a href="{% url 'list' %}" class="btn btn-secondary my-2">一覧</a>
          {% else %}
          <a href="{% url 'list' %}" class="btn btn-primary my-2">一覧</a>
          {% endif %}

          {% if 'satisfied' in request.path %}
          <a href="{% url 'list_satisfied' %}" class="btn btn-primary my-2">満足しているもの</a>
          {% else %}
          <a href="{% url 'list_satisfied' %}" class="btn btn-secondary my-2">満足しているもの</a>
          {% endif %}

          {% if 'planed' in request.path %}
          <a href="{% url 'list_planed' %}" class="btn btn-primary my-2">手放すか悩んでいるもの</a>
          {% else %}
          <a href="{% url 'list_planed' %}" class="btn btn-secondary my-2">手放すか悩んでいるもの</a>
          {% endif %}

          {% if 'threw' in request.path %}
          <a href="{% url 'list_threw' %}" class="btn btn-primary my-2">手放したもの</a>
          {% else %}
          <a href="{% url 'list_threw' %}" class="btn btn-secondary my-2">手放したもの</a>
          {% endif %}
        </p>
      </div>
    </div>

{% include 'paging.html' %}
</section>

{% endblock header %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for object in page_obj %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'user_posts' object.author.id %}" class="text-black">
            <img src="{{ request.user.image.url }}" alt="mdo" width="30" height="30" class="rounded-circle">
            @{{ object.author }}
            </a>
            <br><p>{{ object }}</p>
            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ object.obj_image.url }}">
            <div class="card-body">
              {% if request.path == "/list/" %}
                <p class="text-muted">現状：{{ object.status }}</p>
              {% endif %}
                購入理由：<p class="card-text">{{ object.buy_reason }}</p>
              {% if object.status.id == 3 %} {% comment %} 状態＝手放したの時 {% endcomment %}
                {% if object.sell_reason is None %}
                  売却理由：<p class="card-text"></p>
                {% else %}
                  売却理由：<p class="card-text">{{ object.sell_reason }}</p>
                {% endif %}
              {% endif %}
            
              <div class="accordion" id="accordion_{{ object.pk }}">
                <div class="accordion-item">
                <h2 class="accordion-header" id="heading_{{ object.pk }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ object.pk }}" aria-expanded="false" aria-controls="collapse_{{ object.pk }}">
                詳細
                </button>
                </h2>
                <div id="collapse_{{ object.pk }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ object.pk }}" data-bs-parent="#accordion_{{ object.pk }}">
                  <div class="accordion-body">
                  購入金額：{{ object.buy_price }}円<br>
                  購入日：{{ object.buy_date }}<br>
                  {% if object.sell_price is not None %}
                    売却金額：{{ object.sell_price }}円
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex">
              <div class="mr-auto p-2">
                <div class="like-outer">
                  {% include 'like.html' %}
                </div> 
              </div>

              {% if request.user.id == object.author.id %}
              <div class="p-2"> 
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'update' pk=object.pk %}'">編集する</button>
              </div>
              <div class="p-2"> 
                <button type="button" class="btn btn-sm btn-outline-secondary delete_btn" delete_id="{{ object.pk }}">削除する</button>
              </div>
              {% endif %}
            </div> 
          </div>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
{% if user.is_authenticated %}
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    'object_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.object_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart'></i>");
                    }
                    selector2 = document.getElementsByName(response.object_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
{% endif %}

$(".card-text").each(function(){
  var txt = $(this).text();
  if(txt.length > 30){
      txt = txt.substr(0, 30);
      $(this).text(txt + "･･･");
  }
});

$(".delete_btn").on("click", function() {
    if(!confirm('本当に削除しますか？')){
      return false;
    }else{
      var delete_id = $(this).attr('delete_id')
      console.log(delete_id)
      var index = '{% url 'index' %}'
      var url = index+'delete/'+delete_id
      location.href= url
      alert("削除しました。")
    }
  });

</script>
{% endblock content %}