<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; 最初</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">前へ</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}
        </li>

        <li class="page-item active">
            <a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">次へ</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">最後 &raquo;</a>
        </li>
        {% endif %}
  </ul>
</nav>