{% extends 'base.html' %}

{% block header %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      
        {% if 'satisfied' in request.path %}
          <h1 class="fw-light"><a href="{% url 'user_posts' user.id %}">{{ user.username }}</a>が購入した物</h1>
          <p class="lead text-muted">合計¥{{ buy_price_sum }}購入した</p>
        {% elif 'planed' in request.path %}
          <h1 class="fw-light"><a href="{% url 'user_posts' user.id %}">{{ user.username }}</a>が悩んでいる物</h1>
          <p class="lead text-muted">合計¥{{ planed_price_sum }}手放す予定</p>
        {% elif 'threw' in request.path %}
          <h1 class="fw-light"><a href="{% url 'user_posts' user.id %}">{{ user.username }}</a>が手放した物</h1>
          <p class="lead text-muted">合計¥{{ sell_price_sum }}手放した</p>
        {% else %}
          <h1 class="fw-light"><a href="{% url 'user_posts' user.id %}">{{ user.username }}</a>の投稿</h1>
          <p class="lead text-muted">¥{{ buy_price_sum }}満足<br>¥{{ planed_price_sum }}売却予定<br>¥{{ sell_price_sum }}売却 </p>
        {% endif %}

        <p>
          <a href="{% url 'user_posts_satisfied' user.id %}" class="btn btn-primary my-2">満足：{{ satisfied_list.count }}個</a>
          <a href="{% url 'user_posts_planed' user.id %}" class="btn btn-primary my-2">手放し予定：{{ planed_list.count }}個</a>
          <a href="{% url 'user_posts_threw' user.id %}" class="btn btn-primary my-2">手放した：{{ threw_list.count }}個</a>
        </p>
      </div>
    </div>
  </section>
{% endblock header %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% if 'satisfied' in request.path %}
      {% for object in satisfied_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}

    {% elif 'planed' in request.path %}
      {% for object in planed_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}

    {% elif 'threw' in request.path %}
      {% for object in threw_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}
      
    {% else %}
      {% for object in object_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}
    {% endif %}

      </div>
    </div>
  </div>

<script type="text/javascript">
{% if user.is_authenticated %}
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    'object_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.object_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart'></i>");
                    }
                    selector2 = document.getElementsByName(response.object_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
{% endif %}

    $(".card-text").each(function(){
    var txt = $(this).text();
    if(txt.length > 30){
        txt = txt.substr(0, 30);
        $(this).text(txt + "･･･");
    }
});
</script>

{% endblock content %}