<div class="col">
    <div class="card shadow-sm">
        <small class="text-muted">@{{ object.author }}</small>
        <p>{{ object }}</p>
        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ object.obj_image.url }}">

        <div class="card-body">
            {% if 'satisfied' in request.path or 'planed' in request.path or 'threw' in request.path %}
            {% else %}
              <p class="text-muted">状態：{{ object.status }}</p>
            {% endif %}

                購入理由：<p class="card-text">{{ object.buy_reason }}</p>
            {% if object.status.id == 1 %} {% comment %} 状態＝手放したの時 {% endcomment %}
                {% if object.sell_reason is None %}
                売却理由：<p class="card-text"></p>
                {% else %}
                売却理由：<p class="card-text">{{ object.sell_reason }}</p>
                {% endif %}
            {% endif %}

            <div class="d-flex justify-content-between align-items-center">
                <div class="like-outer">
                    {% include 'like.html' %}
                </div> 
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'detail' object.pk %}'">詳細</button>
                </div>
                <small class="text-muted">{{ object.date }}</small>
            </div>
        </div>
    </div>
</div>