{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3><a href="{% url 'user_posts' user.id %}">{{ user.username }}</a>の投稿</h3>
  <p><a href="{% url 'user_posts_satisfied' user.id %}">満足</a>： {{ satisfied_list.count }}個</p>
  <p><a href="{% url 'user_posts_planed' user.id %}">手放し予定</a>： {{ planed_list.count }}個</p>
  <p><a href="{% url 'user_posts_threw' user.id %}">手放した</a>： {{ threw_list.count }}個</p>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% for obj in object_list %}
        <div class="alert alert-success" role="alert">
            <p>タイトル：<a href="{% url 'detail' obj.pk %}"> {{ obj.title }}</a></p>
            <p>投稿者： {{ obj.author }}</p>
        </div>
    {% endfor %}
</div> 
{% endblock content %}