{% extends 'base.html' %}

{% block header %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

          <h1 class="fw-light">{{ user.username }}の記録</h1>
          <p class="lead text-muted">満足：{{ buy_price_sum }}円<br>手放し予定：{{ planed_price_sum }}円<br>手放した：{{ sell_price_sum }}円</p>

        <p>
          {% if 'satisfied' in request.path or 'planed' in request.path or 'threw' in request.path %}
          <a href="{% url 'user_posts' user.id %}" class="btn btn-secondary my-2">全ての記録：{{ object_list.count }}個</a>
          {% else %}
          <a href="{% url 'user_posts' user.id %}" class="btn btn-primary my-2">全ての記録：{{ object_list.count }}個</a>
          {% endif %}

          {% if 'satisfied' in request.path %}
          <a href="{% url 'user_posts_satisfied' user.id %}" class="btn btn-primary my-2">満足：{{ satisfied_list.count }}個</a>
          {% else %}
          <a href="{% url 'user_posts_satisfied' user.id %}" class="btn btn-secondary my-2">満足：{{ satisfied_list.count }}個</a>
          {% endif %}

          {% if 'planed' in request.path %}
          <a href="{% url 'user_posts_planed' user.id %}" class="btn btn-primary my-2">手放し予定：{{ planed_list.count }}個</a>
          {% else %}
          <a href="{% url 'user_posts_planed' user.id %}" class="btn btn-secondary my-2">手放し予定：{{ planed_list.count }}個</a>
          {% endif %}

          {% if 'threw' in request.path %}
          <a href="{% url 'user_posts_threw' user.id %}" class="btn btn-primary my-2">手放した：{{ threw_list.count }}個</a>
          {% else %}
          <a href="{% url 'user_posts_threw' user.id %}" class="btn btn-secondary my-2">手放した：{{ threw_list.count }}個</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
{% endblock header %}

{% block content %}

{{ message }}
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% if 'satisfied' in request.path %}
      {% for object in satisfied_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}

    {% elif 'planed' in request.path %}
      {% for object in planed_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}

    {% elif 'threw' in request.path %}
      {% for object in threw_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}
      
    {% else %}
      {% for object in object_list %}
        {% include 'user_posts_base.html' %}
      {% endfor %}
    {% endif %}

      </div>
    </div>
  </div>

<script type="text/javascript">
$(".card-text").each(function(){
  var txt = $(this).text();
  if(txt.length > 30){
    txt = txt.substr(0, 30);
    $(this).text(txt + "･･･");
  }
});

{% if user.is_authenticated %}
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    'object_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.object_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart'></i>");
                    }
                    selector2 = document.getElementsByName(response.object_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
{% endif %}

$(".delete_btn").on("click", function() {
    if(!confirm('本当に削除しますか？')){
      return false;
    }else{
      var delete_id = $(this).attr('delete_id')
      console.log(delete_id)
      var index = '{% url 'index' %}'
      var url = index+'delete/'+delete_id
      location.href= url
      alert("削除しました。")
    }
  });

</script>

{% endblock content %}