{% extends 'base.html' %}

{% block content %}
  <h1>編集する</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}

        {% if field.name == 'image' %}
        <p><img src="{{ user.image.url }}" width=100></p>
        {% endif %}
    </p>
    {% endfor %}
    <button type="submit">編集完了</button>
  </form>
{% endblock %}