{% extends 'base.html' %}

{% block header %}
<div class="alert" role="alert">
  <h3>ユーザー情報</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-secondary" role="alert">
      <p>ユーザー名： {{ user.username }}</p>
      <p>氏名： {{ user.last_name }} {{ user.first_name }}</p>
      <p>メールアドレス： {{ user.email }}</p>
      <p><img src="{{ user.image.url }}" width=500></p>
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'user_update' user.id %}'">編集</button>
    </div>
</div>
{% endblock content %}